@{
    ViewBag.Title = "Sitemap";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@* Google Analytics COde  *@
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PTWMKL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-PTWMKL');</script>
<!-- End here -->
<div class="main">
	<div class="inner_titlebg">
		<div class="wrapper">
			<h2>Sitemap</h2>
		</div>
	</div>
<div class="wrapper">
	<div class="inner_contentarea clearfix">
        <ul class="sitemap_list">
            <li>
                <a href="/" title="Home">Home </a>
                <ul style="padding-left:30px;padding-top:10px">
                    <li><a href="/AboutUs" title="About Smart Labour ">About Smart Labour </a></li>
                    <li><a href="/Testimonials/1" title="Testimonials">Testimonials</a></li>
                </ul>
            </li>
            <li>
                <a href="/AboutUs" title="About Us ">About Us</a>
                <ul style="padding-left:30px;padding-top:10px">
                    <li><a href="https://dl.dropboxusercontent.com/u/22396980/Smart_Labour_Website/About_Smart_Labour.pdf" title="About_Smart_Labour.pdf">About Smart Labour</a></li>

                </ul>

            </li>
            <li>
                <a href="/Articles/1" title="Articles">Articles</a>
                <ul style="padding-left:30px;padding-top:10px;font-size:15px;">
                    @{
                        List<SmartLabours.Models.TBL_Artical_SMT> lstofArtical = new List<SmartLabours.Models.TBL_Artical_SMT>();

                        lstofArtical = ViewBag.Artical as List<SmartLabours.Models.TBL_Artical_SMT>;

                    }
                    @if (ViewBag.Artical != null)
                    {
                        foreach (var item in lstofArtical)
                        {
                            <li>
                                <a href="/Articledetails/@item.ArticalID" title="@item.Title">@item.Title</a>
                            </li>

                        }
                    }
                </ul>

            </li>


            <li><a href="/Testimonials/1" title="Testimonials">Testimonials</a></li>
            <li><a href="/ContactUs" title="Contact Us">Contact Us</a></li>
            <li><a href="/Termsandcondition" title="Terms">Terms</a></li>
            <li><a href="/sitemap" title="Sitemap">Sitemap</a></li>

        </ul>

	</div>
</div>	