@{
    ViewBag.Title = "sponsorforgotpassword";
    Layout = "~/Views/Shared/_AccountMenuLayout.cshtml";
}

@{
    ViewBag.Title = "forgetpassword";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<script type="text/javascript">
    function signin() {


        if ($.trim($('#USEREMAIL').val()) == '') {
            $('#ValidateEmail').css("display", "block");
            $('#ValidateEmail').text('Enter the Emirates Id');
            return false;
        }
        else if ($.trim($('#USEREMAIL').val()) != '') {

            //var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            //if (!filter.test($.trim($('#USEREMAIL').val()))) {
            //    $('#ValidateEmail').css("display", "block");
            //    $('#ValidateEmail').text('Please enter correct Email');
            //    return false;
            //}
        }

        $.post('/Home/sponsorforgotpassword', { emailid: $.trim($('#USEREMAIL').val()) }, function (data) {
            if (data == "1") {
                alert("Password has been sent successfully to your mail id");
                location.reload();
            }
            else if (data == "2") {
                alert("Enter Correct Email");
                location.reload();
            }
            else {
                alert("Forgot Password has been changed successfully");
                window.location.href = "/Home";
            }
        });
        return false;
    }

    function previouspage() {

        window.location.href = "/";
    }
</script>

@* Google Analytics COde  *@
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PTWMKL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-PTWMKL');</script>
<!-- End here -->

<div class="main">
    <div class="inner_titlebg">
        <div class="wrapper">
            <h2>
                Forgot Password</h2>
        </div>
    </div>
    <div class="wrapper">
        <div class="inner_contentarea1 clearfix">
            <div class="contact_panel register_panel clearfix">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
					<div class="clearfix">
                    <div class="input">
                        <label>
                            Email ID</label>
                        <input type="text" id="USEREMAIL" />
                         <span id="ValidateEmail" style="color:Red;display:none;"></span>
                    </div>
					</div>
	                <div class="submit default" style="margin:0;">
                        <input type="button" value="Submit"  id="Forgetid" onclick="signin()" />
                        <input class="cancel" type="button" value="Cancel" onclick="previouspage()" />
                    </div>
                }                
            </div>
        </div>
    </div>
</div>
