@{
    ViewBag.Title = "CourssOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/Pulsar/css/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Pulsar/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/Pulsar/css/bootstrap/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Pulsar/css/bootstrap/dataTable-bootstrap.css" rel="stylesheet" />
<link href="~/Content/Pulsar/css/layout.css" rel="stylesheet" />
<script src="~/Content/Pulsar/js/jquery/multisortable.js"></script>
<link href="~/Content/Pulsar/css/toastr/toastr.css" rel="stylesheet" />
<script src="~/Content/Pulsar/js/toastr/toastr.js"></script>
<script src="~/CustomScripts/CourseQueue/InIt.js"></script>
<script src="~/CustomScripts/CourseQueue/Handlers.js"></script>

<div class="clearfix"></div>
<div class="row-fluid panel-row-cont" id="divQueues">
    <div class="spacer-1"></div>
    <div class="" id="divQueuesPriority">
        <div style="font-size:medium;font-weight:bold">Course Order
        </div>
        <div class="spacer-1">
        </div>

        <div class="well" id="divQueuesSearch">

            <div class="pull-left">
                <select id="ddlOrganization">
                </select>
            </div>
            <div class="pull-left">
                <select id="ddlCategory">
                    <option value="0">Select Category</option>
                </select>
            </div>
            <div class="pull-left">
                <select id="ddlSubCategory">
                    <option value="0">Select Sub Category</option>
                </select>
            </div>
            <div class="pull-left">
                <select id="ddlCourseType">
                    <option value="Select">Select Course Level</option>
                    <option value="1">Beginner</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Expert</option>
                </select>
            </div>

            <div class="pull-left">
                <select id="ddlLanguage">
                    <option value="Select">Select Language</option>
                    <option value="English">English</option>
                    <option value="Arabic">Arabic</option>
                </select>
            </div>
            <div class="pull-right">
                <input type="button" class="btn btn-primary btn-small text-center" value="Search" title="Save" id="btnSearch" />
                <input type="button" class="btn btn-primary btn-small text-center" value="Save" title="Shuffle" id="btnSave" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="divMainList" >
            <div class="sort-container">
                <ul id="ulMainList1" data-priority="0" class="droptrue arm-list animate-sort"></ul>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row-fluid">
        <div class="spacer-1"></div>
        <div class="spacer-1"></div>
    </div>
</div>
<div class="clearfix"></div>
